<!DOCTYPE html>
<html>
<head>
    <div th:include="fragments/headerAdmin :: head" th:remove="tag"></div>
</head>
<body>

<div th:fragment="menu">
    <header class="navbar navbar-default navbar-static-top" id="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/admin}">WebGE <i>by URJC</i></a>
            </div>

            <div class="collapse navbar-collapse header-collapse">
                <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                    <li><a th:href="@{/}"><span class="glyphicon glyphicon-home" rel="tooltip" title="Home page"></span></a>
                    </li>
                    <li><a th:href="@{/admin/registrationPage}" rel="tooltip" title="Register user"><span
                            class="glyphicon glyphicon glyphicon-plus-sign"></span></a></li>
                    <li><a th:href="@{/admin/profile}" rel="tooltip" title="User profile"><span
                            class="glyphicon glyphicon-user"></span></a></li>
                </ul>

                <a th:href="@{/logout}"><p sec:authorize="isAuthenticated()"
                                           class="navbar-text navbar-right btn-sm btn btn-default" rel="tooltip"
                                           title="Log out">
                    <span style="color:#4183c4" class="glyphicon glyphicon-off"></span></p></a>

                <a th:href="@{/login}"><p sec:authorize="isAnonymous()"
                                         class="navbar-text navbar-right btn-sm btn btn-default"><span
                        style="color:#4183c4" class="glyphicon glyphicon-log-in" rel="tooltip"
                        title="Log in"></span></p></a>

            </div>
        </div>
    </header>
</div>

<div layout:fragment="wrapper" class="wrapper">
    <div layout:fragment="content">
    </div>
    <div th:include="fragments/footer :: footer"></div>
</div>

</body>
