<!DOCTYPE html>
<html lang="en">

<head>
    <div th:include="fragments/header :: head" th:remove="tag"></div>
    <script>
        let table;
        let dataSetPage = false;

        function calculateRunsStats(runTable, runsAVG, runsDeviation, maxBestSolution, minBestSolution) {
            if (runTable != null) {
                let runsDatas = [];
                for (let i = 1, row; row = runTable.rows[i]; i++) {
                    if (row.cells[3]) {
                        if (row.cells[3].innerText !== "RUNNING" && row.cells[3].innerText !== "WAITING"
                            && row.cells[3].innerText !== "INITIALIZING" && row.cells[3].innerText !=="CANCELLED") {
                            runsDatas.push(Number(row.cells[1].innerText))
                            haveValue = true;
                        }
                    }
                }
                if (runsDatas.length > 0) {
                    let avgValue = runsDatas.reduce((a, b) => a + b, 0) / runsDatas.length;
                    let max = 0, min = -1, stdDeviation = 0;
                    runsDatas.forEach(function (data) {
                        if (data > max) {
                            max = data;
                        }
                        if (data < min || min == -1) {
                            min = data;
                        }
                        stdDeviation += Math.pow((data - avgValue), 2);
                    })
                    stdDeviation = Math.sqrt(stdDeviation / runsDatas.length);
                    $(runsAVG).text(avgValue)
                    $(runsDeviation).text(stdDeviation)
                    $(maxBestSolution).text(max)
                    $(minBestSolution).text(min)
                }else{
                    $(runsAVG).text('No data available')
                    $(runsDeviation).text('No data available')
                    $(maxBestSolution).text('No data available')
                    $(minBestSolution).text('No data available')

                }

            }
        }

        function destroyClickedElement(event) {
            // remove the link from the DOM
            document.body.removeChild(event.target);
        }

        function tableDefinition(id, idTableBody, target1, target2, targetChill, order, date) {
            table = $(id).DataTable({
                responsive: true,
                "paging": true,
                "order": [order, "desc"],
                "columnDefs": [{
                    "targets": [target1, target2],
                    "orderable": false,
                }],
                columnDefs: [
                    { type: 'date-euro', targets: date }],
            });

            $('.dataTables_length').addClass('bs-select');

            $(idTableBody).on('click', 'td.details-control', function () {
                let tr = $(this).closest('tr');
                let row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    $('div.slider', row.child()).slideUp(function () {
                        row.child.hide();
                        //tr.removeClass('shown');
                    });
                } else {
                    if (dataSetPage) {
                        let datasetId = row.data()[5].match(/(fileText[0-9]+)/)[0];
                        if (datasetId != null && foldedId.includes(datasetId)) {
                            row.data()[targetChill] =
                                " <textarea readonly rows=\"8\" class=\"form-control\"\n" +
                                "                                              style=\"resize: none;\">" +
                                document.getElementById(datasetId).value
                                + "</textarea>";
                        }
                    }
                    // Open this row
                    row.child(format(row.data(), targetChill)).show();
                    tr.addClass('shown');
                    $('div.slider', row.child()).slideDown();
                }
            });
        }

        function format(d, target) {
            // `d` is the original data object for the row 7
            return '<div class="slider" style="display: none;">' +
                d[target] +
                '</div>';
        }

        function downloadExperimentRunResults(id) {
            $.ajax({
                url: encodeURI("/runResultsInfo"),
                data: {
                    'expId': id.toString(),
                },
                cache: false,
                async: true,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let csvContent = "Run;Model;Training - AVG. Error; Training - RMSE; Training - Abs. Error;" +
                        "Training R^2; Training Rel. Error;"
                    if (data['testAVG'] !== null) {
                        csvContent += "Test - AVG. Error; Test - RMSE; Test - Abs. Error;" +
                            "Test R^2; Test - Rel. Error;"
                    }
                    csvContent += "\n";

                    for (let count = 0; count < data['model'].length; count++) {

                        if(data['model'][count].length == 0){
                            data['model'][count] = "Unfinished run"
                            csvContent += data['runIndex'][count] + ";" + data['model'][count] + ";"
                        }else{
                            csvContent += data['runIndex'][count] + ";" + data['model'][count] + ";" +
                                data['trainingAVG'][count] + ";" + data['trainingRMSE'][count] + ";" +
                                data['trainingAbs'][count] + ";" + data['trainingR2'][count] + ";" +
                                data['trainingRel'][count] + ";"
                        }
                        if (data['testAVG'] !== null) {
                            csvContent += data['testAVG'][count] + ";" + data['testRMSE'][count] + ";" +
                                data['testAbs'][count] + ";" + data['testR2'][count] + ";" +
                                data['testRel'][count] + ";"
                        }

                        csvContent += "\n";
                    }

                    let textFileAsBlob = new Blob([csvContent], {type: 'text/csv'});
                    let downloadLink = document.createElement("a");
                    downloadLink.download = "runResults.csv";
                    downloadLink.innerHTML = "Download File";

                    if (window.webkitURL != null) {
                        // Chrome allows the link to be clicked without actually adding it to the DOM.
                        downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
                    } else {
                        // Firefox requires the link to be added to the DOM before it can be clicked.
                        downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                        downloadLink.onclick = destroyClickedElement;
                        downloadLink.style.display = "none";
                        document.body.appendChild(downloadLink);
                    }

                    downloadLink.click();
                },
                error: function () {
                    alert("Wait until all runs have finished.");
                }
            });
        }
    </script>
</head>
<body>

<div th:fragment="menu">
    <header class="navbar navbar-default navbar-static-top" id="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <img style="height: 75px;padding-bottom: 5px" th:src="@{/images/index/Logo_urjc.png}" alt="URJC's logo"/>
            </div>

            <div class="collapse navbar-collapse header-collapse">
                <!-- USER HEADER -->
                <ul sec:authorize="hasRole('ROLE_USER')" class="nav navbar-nav">
                    <li><a th:href="@{/}"><span class="glyphicon glyphicon-home" rel="tooltip" title="Home page"></span></a>
                    </li>
                    <li><a th:href="@{/experiment/configExperiment}" rel="tooltip" title="New experiment"><span
                            class="glyphicon glyphicon glyphicon-plus-sign"></span></a></li>
                    <li><a th:href="@{/experiment/experimentRepository}" rel="tooltip" title="List of experiments"><span
                            class="glyphicon glyphicon-th-list"></span></a></li>
                    <li><a th:href="@{/user/profile}" id="userProfileButton" rel="tooltip" title="User profile"><span class="glyphicon glyphicon-user">
                    </span><span th:text="${
                    session.userDetails!=null?
                    session.userDetails.getFirstName()+
                    ' '+session.userDetails.getLastName():''}" > </span>
                    </a></li>

                </ul>

                <!-- ADMIN HEADER-->
                <ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav navbar-nav">
                    <li><a th:href="@{/admin}"><span class="glyphicon glyphicon-home" rel="tooltip"
                                                     title="Home page"></span></a>
                    </li>
                    <li><a th:href="@{/admin/registrationPage}" rel="tooltip" title="Register user">
                        <span class="icon-combine">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                    </a></li>

                    <li><a th:href="@{/admin/userList}" rel="tooltip" title="List of users"><span
                            class="glyphicon glyphicon-th-list"></span></a></li>
                    <li><a th:href="@{/admin/profile}" rel="tooltip" title="User profile"><span
                            class="glyphicon glyphicon-user"
                    ></span></a></li>
                </ul>

                <a th:href="@{/logout}"><p sec:authorize="isAuthenticated()"
                                           class="navbar-text navbar-right btn-sm btn btn-default" rel="tooltip"
                                           title="Log out">
                    <span style="color:#4183c4" id="logOutButton" class="glyphicon glyphicon-off"></span></p></a>

                <a th:href="@{/login}" rel="tooltip"
                   title="Log in"><p sec:authorize="isAnonymous()"
                                         class="navbar-text navbar-right btn-sm btn btn-default"><span
                        style="color:#4183c4" class="glyphicon glyphicon-log-in"></span></p></a>
                <a th:href="${#authentication.getAuthorities().toArray()[0].getAuthority().equals('ROLE_ADMIN')}
                            ?'/admin':'/'">
                    <h3 class="navbar-text navbar-right" rel="tooltip"
                        title="Home page">WebGE</h3></a>

            </div>
        </div>
    </header>
</div>

<div layout:fragment="wrapper" class="wrapper">
    <div layout:fragment="content">
    </div>
    <div th:include="fragments/footer :: footer"></div>
</div>

</body>
