pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Ignore project files
.idea/
*.iml

# Ignore output files
target/*
out/
.DS_Store

# Temporal storage for files
/resources

# Allow
# Son mas de 50MB de archivo que te genera maven, no merece la pena tenerlo en control de versiones
# !target/gramev-0.0.1-SNAPSHOT.jar

# Add run configs to repo
!.idea/runConfigurations
