<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      lang="en">
<head>
    <link rel="stylesheet" th:href="@{/assets/dist/css/index.css}"/>
    <title>WebGE – Grammatical Evolution – URJC</title>
</head>

<body>
<div id="page" layout:fragment="content" message=${errorMessage}>
    <!-- Header -->
    <!-- Main -->
    <div class="container">
        <div id="forms" class="panel panel-default">
            <header class="panel-heading">
                <h2>Home</h2>
            </header>

            <section class="panel-body form-horizontal center-block text-center">

                <div class="row">

                    <a href="/experiment/experimentRepository"
                       th:href="@{/experiment/experimentRepository}">
                        <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                            <div class="card center-block" id="myExperimentPart">
                                <img class="card-img-top" th:src="@{/images/index/chain_adn.jpg}"/>
                                <div class="card-block">
                                    <h4 class="card-title mt-3">My experiments</h4>
                                    <div class="card-text">
                                        Loads your saved experiments
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="/grammar/grammarRepository"
                       th:href="@{/grammar/grammarRepository}">
                        <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                            <div class="card center-block">
                                <img class="card-img-top" th:src="@{/images/index/grammar.png}"/>
                                <div class="card-block" id="grammarPart">
                                    <h4 class="card-title mt-3">My grammars</h4>
                                    <div class="card-text">
                                        Loads your saved grammars
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="/datasets/list"
                       th:href="@{/datasets/list}">
                        <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                            <div class="card center-block" id="datasetPart">
                                <img class="card-img-top" th:src="@{/images/index/dataset.png}"/>
                                <div class="card-block">
                                    <h4 class="card-title mt-3">My datasets</h4>
                                    <div class="card-text">
                                        Manage datasets
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </section>
        </div>
        <!-- END Main -->
    </div>
</div>
</body>
</html>