<head th:fragment="headAdmin">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" id="bootstrap-css"/>
    <!-- For the profile template -->
    <link th:href="@{/assets/dist/css/bootstrap.css}" rel="stylesheet" id="profile-css"/>
    <link th:href="@{/assets/dist/css/experimentRepository.css}" rel="stylesheet" id="experimentRepository-css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style>
        div.slider {
            display: none;
        }

        table.dataTable tbody td.no-padding {
            padding: 0;
        }
    </style>
</head>