<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
lang="en">
<head>
    <title>Evolutive Grammars</title>
</head>
<body>
<div id="page" layout:fragment="content" message=${errorMessage}>
    <!-- Main -->
    <section class="container">
        <div id="forms" class="panel panel-default">
            <header class="panel-heading">
                <h2>What is WebGE?</h2>
            </header>

            <div class="panel-body center-block" style="">
                <div class="row form-group">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        WebGE is a tool for the construction of algorithms capable of working with Evolutive Grammars.
                        Developed by researchers from the Rey Juan Carlos University.
                        This initiative aims to encourage the use of this tool, providing a web format in which users
                        can interact with each other and, in addition, make experiments with their own Evolutionary
                        Grammars
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12 text-center">
                    <a th:href="@{/login}" class="btn-primary btn-lg btn">Log in</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END Main -->
</div>
</body>
</html>